/*

Navigation bar background: #232f3e

Action button green: #4ab8a1
Action button dark green: #43a691

Different grays:
Light: #f3f3f3
Medium: #cccccc
Dark: 


*/

body {
    font-family: 'Catamaran', sans-serif;
    margin: 0;
    background: #232f3e url("study-background.jpg") no-repeat center top;
    background-attachment: fixed;
    background-size: cover;
    padding-bottom: 30px;
}

.navbar {
    background-color: #232f3e;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

ul {
    list-style-type: none;
    margin: auto;
    overflow: hidden;
    padding: 0 4.16667%;
}

li {
    float: left;
}

.container {
    padding-left: 10%;
    padding-right: 10%;
}

h1 {
    padding-top: 120px;
    padding-bottom: 30px;
    color: #f3f3f3;
    font-size: 350%;
    text-align: center;
    text-shadow: 2px 2px #232f3e;
    cursor: default;
}

.unselectable {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.startdate {
    text-align: right;
}

li a {
    display: block;
    text-align: center;
    text-decoration: none;
}

li:not(#homePage) a {
    padding: 16px;
}

li:not(#userName):not(#homePage) a:hover {
    background-color: #43a691;
}

li:last-child {
    border-right: 5px solid #232f3e;
}

a, a:visited, a:hover, a:active {
  color: inherit;
}

.userAction {
    float: right;
}

#logout, #register {
    background-color: #4ab8a1;
}

#login {
    background-color: #f3f3f3;
}

#homePage {
    color: #f3f3f3;
    height: 59px;
    width: 100px;
}

#homeImage {
    background: center;
    padding: 3px;
    height: 53px;
}

#userName {
    color: #f3f3f3;
    cursor: default;
}

#searchinput, #searchedinput, #id_username, #id_password, #id_password1, #id_password2 {
    width: 100%;
    height: 100%;
    text-align: center;    
    border: 1px solid;
    border-radius: 4px;
    font-family: inherit;
    font-size: 140%;
    height: 50px;
}

.center {
    margin: auto;
}

#searchfield {
    width: 50%;
}

#buttonfield {
    padding: 20px;
    text-align: center;
}

.submitButton {
    display: inline-block;
    border-radius: 4px;
    background-color: #4ab8a1;
    text-align: center;
    font-family: inherit;
    font-size: 28px;
    padding: 13px;
    margin: 10px 0px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
}

.submitButton span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.submitButton span:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.submitButton:hover span {
  padding-right: 25px;
}

.submitButton:hover span:after {
  opacity: 1;
  right: 0;
}

/*
Log in and registration
*/

.informationForm {
    text-align: center;
    max-width: 300px;
    float: center;
    margin: auto;
    padding-top: 100px;
}

.informationForm input {
    height: 50px;
}

.informationForm label {
    color: #f3f3f3;
    text-shadow: 2px 2px #232f3e;
    font-size: 28px;
}

.informationForm .helptext {
    font-size: 10px;
}

.errorlist {
    color: #f3f3f3;
    text-shadow: 1px 1px #232f3e;
}

.cancelLink {
    text-align: center;
    padding-top: 35px;
    font-size: 17px;
    color: #f3f3f3;
    text-shadow: 2px 2px #232f3e;
}

/*
Course listing accordion
*/

#accordion {
    max-width: 1200px;
    border-radius: 4px;
}

.ui-widget {
    font-family: inherit;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
    background: #4ab8a1;
    
}

.ui-accordion-header, .ui-widget-content {
    color: #000;
    border-color: #232f3e;
}

/*
Course information tables
*/

#basicInformation {
    margin-bottom: 15px;
}

#basicInformation tr td a {
    color: blue;
}

.rowHeadline {
    margin: 13px 0px;
}

.infoHeadline {
    min-width: 150px;
}

#myRatingsHeadline {
    padding-left: 33px;
}

.categoryRow {
    height: 43px;
}

.infoHeadline, .categoryHeadline, .presentedComment {
    padding-left: 10px;
}

.categoryHeadline {
    min-width: 130px;
}

.categoryPoints {
    text-align: center;
    width: 41px;
    height: 41px;
    background: url('scoreBackground.png');
    background-size: 41px 41px;
    background-repeat: no-repeat;
}

/*
Radiobuttons
*/

.radio-wrapper {
  overflow: hidden;
  display: inline-block;
  border: none; 
  vertical-align: middle;
  margin-left: 30px;
}

fieldset {
    border: none;
}

.radio-input {
  display: none;
  position: relative;
  left: 0;
}

.radio-star:hover,
.radio-star:hover ~ .radio-star {
  background-position: 0 0;
  cursor: pointer;
}

.radio-wrapper:hover .radio-star:hover,
.radio-wrapper:hover .radio-star:hover ~ .radio-star,
.radio-input:checked ~ .radio-star {
  background-position: 0 0;
  cursor: pointer;
}

.radio-star,
.radio-wrapper:hover .radio-star {
  float: right;
  display: block;
  width: 16px;
  height: 16px;
  background: url('star.png') 0 -16px;
  cursor: pointer;
}

/*
Comments
*/

#commentTable {
    border-spacing: 15px;
    padding-top: 0px;
}

.commentRow {
    margin-bottom: 10px;
}

.presentedComment {
    border-bottom: dotted #4ab8a1;
}