body {
    padding-left: 20px;
    padding-right: 20px;
    
    font-family: 'Catamaran', sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000000;
}

li {
    float: left;
}

#userAction {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

input {
    width: 50%;
    height: 50px;
    text-align: center;
    float: center;    
    
    border: 1px solid;
    border-radius: 4px;
}

#searchfield {
    padding-top: 50px;
    float: center;
}

#submitButton {
  display: inline-block;
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

#submitButton span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

#submitButton span:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

#submitButton:hover span {
  padding-right: 25px;
}

#submitButton:hover span:after {
  opacity: 1;
  right: 0;
}

