<ul>
    <li><a href="/ratings/register">register</a></li>
    <li><a href="/ratings/login">login</a></li>
    <li><a href="/ratings/logout">logout</a></li>
</ul>


<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Course Ratings Site</title>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
  $( function() {
    $( "#accordion" ).accordion();
  } );
  </script>
</head>
<body>

<!-- Data is in this structure:  
     course_list=[course.Name, course.Code, course.Year, course.Lecturer, course.myCourses_link,0,0,0,0,[c1,c2,c3...cn]] 
     course[0-4] = name, code, year, lecturer, myCourses_link
     course[5-8] = overall,lectures,assignments,workload
     course[9] = comments[]
-->


<div id="accordion">
  {% for course in course_list_final %}
  <h3>{{ course.0 }} Overall Grade: {{ course.5 }}</h3>
  <div>
    <table>
    <tr><td>Coursecode:</td><td> {{ course.1 }}</td>
    <tr><td>Start Date:</td><td> {{ course.2 }}</td>
    <tr><td>Lecturer:</td><td> {{ course.3 }}</td>
    <tr><td>MyCourses Link:</td><td> {{ course.4 }}</td>
    </table>
    <table>
      <tr><td>Lectures</td><td>{{ course.6 }}</td></tr>
      <tr><td>Assignments</td><td> {{ course.7 }}</td></tr>
      <tr><td>Workload</td><td> {{ course.8 }}</td></tr>
    </table>
    {% for comment in course.9 %}
    <p>{{ comment }}</p>
    {% endfor %}
  </div>  
  {% endfor %}
</div>


</body>
</html>








<style> #css



    </style>
