{% extends "ratings/base.html" %}

{% block method_content %}

<div class="container">
    <div class="center">
        <h1 class="unselectable">Aalto Course Reviewer</h1>
    </div>

    <form method="post" action="/ratings/">
        {% csrf_token %}
        <div class="center" id="searchfield">
            {% if not searchstring %}
                <input id="searchinput" type="text" name="searchstring" placeholder="Courses, lecturers or course codes">
            {% else %}
                <input id="searchedinput" type="text" name="searchstring" placeholder="Searching for: {{searchstring}}">
            {% endif %}
        </div>
	<div class="center" id="buttonfield">
          <button class="button submitButton" style="vertical-align:middle" type="submit">
            <span>Search</span>
          </button>
        </div>
    </form>
    
{% comment %}
<!-- Data is in this structure:  
     course_list_final = [course.id, course.Name, course.Code, course.Year, course.Lecturer, course.myCourses_link,0,0,0,0,[c1,c2,c3...cn],0] 
     course[0-5] = id, name, code, year, lecturer, myCourses_link
     course[6-9] = overall,lectures,assignments,workload
     course[10]  = comments[]
     course[11]  = reviews[] amount of reviews for this course
     course[12]  = my_review (overall,lectures,assignments,workload,comment (empty if none)) Review of the current user
  -->
{% endcomment %}

    <div class="center" id="accordion">
        {% for course in course_list_final %}
        <h3>{{ course.1 }} 
            <div class="gradeHeadline">Overall Grade: <div class="gradeNumber">{{ course.6 }}</div></div>
        </h3>

        <div>
            <table id="basicInformation">
                <tr><td class="infoHeadline">Coursecode:</td><td> {{ course.2 }}</td></tr>
                <tr><td class="infoHeadline">Start Date:</td><td> {{ course.3 }}</td></tr>
                <tr><td class="infoHeadline">Lecturer:</td><td> {{ course.4 }}</td></tr>
                <tr><td class="infoHeadline">MyCourses Link:</td><td><a href="{{ course.5 }}"> {{ course.5 }}</td></tr>
            </table>

	        <form method="POST" action="/ratings/add_review/">
            {% csrf_token %}
            <input type="hidden" name="course_id" value={{ course.0 }}>
            <input type="hidden" name="user" value={{ request.user.id }}>
            <table>    
                <tr>
                    <td><h4 class="rowHeadline">Ratings:</h4></td>
                    {% if request.user.is_authenticated %}
                    <td></td>
                    <td id="myRatingsHeadline"><h4>My rating:</h4></td>
                    {% endif %}
                </tr>
                <tr class="categoryRow">
                    <td class="categoryHeadline">Overall:</td>
                    <td class="categoryPoints">{{ course.6 }}</td>

                    {% if request.user.is_authenticated %}
                
                    <td><input type="hidden" name="overall" value="99">

                    <fieldset>
                    <div class="radio-wrapper">
                        <input type="radio" class="radio-input" id="{{ course.0 }}-radio-input-1-5" name="overall" value="5" {% if course.12.0.0 == 5 %} checked {% endif %}>
                        <label for="{{ course.0 }}-radio-input-1-5" class="radio-star"></label>
    
                        <input type="radio" class="radio-input" id="{{ course.0 }}-radio-input-1-4" name="overall" value="4" {% if course.12.0.0 == 4 %} checked {% endif %}>
                        <label for="{{ course.0 }}-radio-input-1-4" class="radio-star"></label>
    
                        <input type="radio" class="radio-input" id="{{ course.0 }}-radio-input-1-3" name="overall" value="3" {% if course.12.0.0 == 3 %} checked {% endif %}>
                        <label for="{{ course.0 }}-radio-input-1-3" class="radio-star"></label>
    
                        <input type="radio" class="radio-input" id="{{ course.0 }}-radio-input-1-2" name="overall" value="2" {% if course.12.0.0 == 2 %} checked {% endif %}>
                        <label for="{{ course.0 }}-radio-input-1-2" class="radio-star"></label>
    
                        <input type="radio" class="radio-input" id="{{ course.0 }}-radio-input-1-1" name="overall" value="1" {% if course.12.0.0 == 1 %} checked {% endif %}>
                        <label for="{{ course.0 }}-radio-input-1-1" class="radio-star"></label>
                    </div>
                    </fieldset>
                    </td>
                    {% endif %}
                </tr>

                <tr class="categoryRow">
                    <td class="categoryHeadline">Lectures:</td>
                    <td class="categoryPoints">{{ course.7 }}</td>
		
                    {% if request.user.is_authenticated %}
                    	
                    <td><input type="hidden" name="lectures" value="99">
                    
                    <fieldset>
                    <div class="radio-wrapper">
                        <input type="radio" class="radio-input" id="{{ course.0 }}-2-radio-input-1-5" name="lectures" value="5" {% if course.12.0.1 == 5 %} checked {% endif %}>
                        <label for="{{ course.0 }}-2-radio-input-1-5" class="radio-star"></label>
                
                        <input type="radio" class="radio-input" id="{{ course.0 }}-2-radio-input-1-4" name="lectures" value="4" {% if course.12.0.1 == 4 %} checked {% endif %}>
                        <label for="{{ course.0 }}-2-radio-input-1-4" class="radio-star"></label>
                
                        <input type="radio" class="radio-input" id="{{ course.0 }}-2-radio-input-1-3" name="lectures" value="3" {% if course.12.0.1 == 3 %} checked {% endif %}>
                        <label for="{{ course.0 }}-2-radio-input-1-3" class="radio-star"></label>
                
                        <input type="radio" class="radio-input" id="{{ course.0 }}-2-radio-input-1-2" name="lectures" value="2" {% if course.12.0.1 == 2 %} checked {% endif %}>
                        <label for="{{ course.0 }}-2-radio-input-1-2" class="radio-star"></label>
                
                        <input type="radio" class="radio-input" id="{{ course.0 }}-2-radio-input-1-1" name="lectures" value="1" {% if course.12.0.1 == 1 %} checked {% endif %}>
                        <label for="{{ course.0 }}-2-radio-input-1-1" class="radio-star"></label>
                    </div>
                    </fieldset>
                    </td>
                    {% endif %}
                </tr>
                
                <tr class="categoryRow">
                    <td class="categoryHeadline">Assignments:</td>
                    <td class="categoryPoints"> {{ course.8 }}</td>
                    
                    {% if request.user.is_authenticated %} 
                    
                    <td><input type="hidden" name="assignments" value="99">
                    
                    <fieldset>
                    <div class="radio-wrapper">
                        <input type="radio" class="radio-input" id="{{ course.0 }}-3-radio-input-1-5" name="assignments" value="5" {% if course.12.0.1 == 5 %} checked {% endif %}>
                        <label for="{{ course.0 }}-3-radio-input-1-5" class="radio-star"></label>
                    
                        <input type="radio" class="radio-input" id="{{ course.0 }}-3-radio-input-1-4" name="assignments" value="4" {% if course.12.0.1 == 4 %} checked {% endif %}>
                        <label for="{{ course.0 }}-3-radio-input-1-4" class="radio-star"></label>
                    
                        <input type="radio" class="radio-input" id="{{ course.0 }}-3-radio-input-1-3" name="assignments" value="3" {% if course.12.0.1 == 3 %} checked {% endif %}>
                        <label for="{{ course.0 }}-3-radio-input-1-3" class="radio-star"></label>
                    
                        <input type="radio" class="radio-input" id="{{ course.0 }}-3-radio-input-1-2" name="assignments" value="2" {% if course.12.0.1 == 2 %} checked {% endif %}>
                        <label for="{{ course.0 }}-3-radio-input-1-2" class="radio-star"></label>
                    
                        <input type="radio" class="radio-input" id="{{ course.0 }}-3-radio-input-1-1" name="assignments" value="1" {% if course.12.0.1 == 1 %} checked {% endif %}>
                        <label for="{{ course.0 }}-3-radio-input-1-1" class="radio-star"></label>
                    </div>
                    </fieldset>
                    </td>
                    {% endif %}
                </tr>
	      
                <tr class="categoryRow">
                    <td class="categoryHeadline">Workload:</td>
                    <td class="categoryPoints"> {{ course.9 }}</td>
                    
                    {% if request.user.is_authenticated %} 
                    
                    <td><input type="hidden" name="workload" value="99">
                    
                    <fieldset>
                    <div class="radio-wrapper">
                        <input type="radio" class="radio-input" id="{{ course.0 }}-4-radio-input-1-5" name="workload" value="5" {% if course.12.0.1 == 5 %} checked {% endif %}>
                        <label for="{{ course.0 }}-4-radio-input-1-5" class="radio-star"></label>
                    
                        <input type="radio" class="radio-input" id="{{ course.0 }}-4-radio-input-1-4" name="workload" value="4" {% if course.12.0.1 == 4 %} checked {% endif %}>
                        <label for="{{ course.0 }}-4-radio-input-1-4" class="radio-star"></label>
                    
                        <input type="radio" class="radio-input" id="{{ course.0 }}-4-radio-input-1-3" name="workload" value="3" {% if course.12.0.1 == 3 %} checked {% endif %}>
                        <label for="{{ course.0 }}-4-radio-input-1-3" class="radio-star"></label>
                    
                        <input type="radio" class="radio-input" id="{{ course.0 }}-4-radio-input-1-2" name="workload" value="2" {% if course.12.0.1 == 2 %} checked {% endif %}>
                        <label for="{{ course.0 }}-4-radio-input-1-2" class="radio-star"></label>
                    
                        <input type="radio" class="radio-input" id="{{ course.0 }}-4-radio-input-1-1" name="workload" value="1" {% if course.12.0.1 == 1 %} checked {% endif %}>
                        <label for="{{ course.0 }}-4-radio-input-1-1" class="radio-star"></label>
                    </div>
                    </fieldset>
                    </td>
                    {% endif %}
                    <td class="ratingGuidelines">(1 = little, 5 = huge)</td>
                </tr>

            </table>
	       
    	    <h4 class="rowHeadline">Reviews:</h4>
    	    
    	    <table id="commentTable">
                {% if user.is_authenticated %}
                    <tr><td>
                        <input type="text" id="commentinput" name="comments" placeholder="Enter comment" value="{{ course.12.0.4.0 }}" >
                    </td></tr>
                    <tr><td>
                        <input class="submitButton" type="submit" value = "Give Review">
                    </td></tr>
                {% endif %}
                
                {% for comment in course.10 %}
                    <tr class="commentRow"><td class="presentedComment">{{ comment }}</td></tr>    
                {% endfor %}
            </table>
	    
            </form>
        </div>
	{% endfor %}
    </div>
</div>

{% endblock method_content %}